@import './variable.css';

@import './time.css';
@import './weather.css';
@import './login.css';
@import './todo.css';
@import './todoitem.css';

@import './header.css';
@import './contents.css';


body {
  height: 100vh;
  background-size: cover;
  color: white;
}
.hidden {
  display: none;
}
.checked {
  text-decoration: line-through;
  color: var(--light-gray);
}
